In [4]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.externals import joblib
from sklearn.model_selection import train_test_split
from sklearn import metrics

/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [5]:
#change the name of csv 
dataset = pd.read_csv('freelance.csv')
X = dataset.iloc[:, 1:13].values
y = dataset.iloc[:,13:15 ].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/10, random_state = 0)

In [ ]:
model = RandomForestRegressor()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(metrics.mean_absolute_error(y_test, y_pred))

accuracy = model.score(X_test,y_test)
print(accuracy*100,'%')

joblib.dump(model, 'model.pkl')

In [6]:
dataset

,Node,S30,S10,S90,S120,S30 in liter,S10 in liter,S90 liter,S120 in liter,Rain,Max Wind Spd km/h,Min Temp,Max Temp,Daily water usage,Duration of Sprinkler
0,1,12.79,14.80,16.96,9.60,38.37,14.80,152.64,115.20,0,37,20.2,32.0,4078,30
1,1,12.79,14.80,16.96,9.61,38.37,14.80,152.64,115.32,0,37,20.2,32.0,4078,30
2,1,12.79,14.80,16.96,9.60,38.37,14.80,152.64,115.20,0,37,20.2,32.0,4078,30
3,1,12.80,14.80,16.96,9.61,38.40,14.80,152.64,115.32,0,37,20.2,32.0,4078,30
4,1,12.81,14.80,16.96,9.61,38.43,14.80,152.64,115.32,0,37,20.2,32.0,4078,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,1,12.06,13.82,16.54,8.79,36.18,13.82,148.86,105.48,13,43,23.9,31.6,1750,14
132,1,12.08,13.82,16.54,8.79,36.24,13.82,148.86,105.48,13,43,23.9,31.6,1750,14
133,1,12.08,13.82,16.54,8.80,36.24,13.82,148.86,105.60,13,43,23.9,31.6,1750,14
134,1,12.09,13.82,16.54,8.79,36.27,13.82,148.86,105.48,13,43,23.9,31.6,1750,14
135,1,12.10,13.83,16.54,8.80,36.30,13.83,148.86,105.60,13,43,23.9,31.6,1800,15